<h2>Under construction</h2>
<p>
  This is a demo/sandbox website with random things that I wanted to build or
  test or showcase
</p>
<p>It doesn't have much of a purpose for now</p>
<p>Future goals:</p>
<ul>
  <li>Photo gallery showcasing AI generated images</li>
  <li>Building time display (inspired by AGDQ)</li>
  <li>Adding Auth0</li>
  <li>Make content modular (nx ?)</li>
  <li>Code examples to show how it's done</li>
  <li>Hexagon stuff</li>
</ul>
<p>Note: don't have much time to spare for this, so it may take a while</p>
