<h1 class="tw-text-3xl tw-font-bold tw-underline">Hello world!</h1>

<button class="btn">Hello</button>

<h2>Under construction</h2>
<p>
  This is a demo/sandbox website with random things that I wanted to build or
  test or showcase
</p>
<p>It doesn't have much of a purpose for now</p>
<p>Future goals:</p>
<ul>
  <li>CV</li>
  <li>Photo gallery showcasing AI generated images</li>
  <li>Building time display (inspired by AGDQ)</li>
  <li>Adding Auth0</li>
  <li>Make content modular (nx ?)</li>
  <li>Code examples to show how it's done</li>
  <li>Hexagon stuff</li>
</ul>

<h2>Tech stack</h2>
<ul>
  <li>Angular 14</li>
  <li>tailwind css</li>
</ul>

<p>Note: don't have much time to spare for this, so it may take a while</p>

<!-- <div
  class="badge-base LI-profile-badge"
  data-locale="en_US"
  data-size="medium"
  data-theme="light"
  data-type="VERTICAL"
  data-vanity="jason-s-rogers"
  data-version="v1"
>
  <a
    class="badge-base__link LI-simple-link"
    href="https://nl.linkedin.com/in/jason-s-rogers?trk=profile-badge"
    >Jason Rogers</a
  >
</div> -->
